Connected to Python 3.12.7

In [ ]:
import pandas as pd


data= pd.read_csv('./US_Accidents_March23.csv')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

In [ ]:
data.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,7.728394e+06,7.728394e+06,7.728394e+06,4.325632e+06,4.325632e+06,7.728394e+06,7.564541e+06,5.729375e+06,7.554250e+06,7.587715e+06,7.551296e+06,7.157161e+06,5.524808e+06
mean,2.212384e+00,3.620119e+01,-9.470255e+01,3.626183e+01,-9.572557e+01,5.618423e-01,6.166329e+01,5.825105e+01,6.483104e+01,2.953899e+01,9.090376e+00,7.685490e+00,8.407210e-03
std,4.875313e-01,5.076079e+00,1.739176e+01,5.272905e+00,1.810793e+01,1.776811e+00,1.901365e+01,2.238983e+01,2.282097e+01,1.006190e+00,2.688316e+00,5.424983e+00,1.102246e-01
min,1.000000e+00,2.455480e+01,-1.246238e+02,2.456601e+01,-1.245457e+02,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.339963e+01,-1.172194e+02,3.346207e+01,-1.177543e+02,0.000000e+00,4.900000e+01,4.300000e+01,4.800000e+01,2.937000e+01,1.000000e+01,4.600000e+00,0.000000e+00
50%,2.000000e+00,3.582397e+01,-8.776662e+01,3.618349e+01,-8.802789e+01,3.000000e-02,6.400000e+01,6.200000e+01,6.700000e+01,2.986000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.008496e+01,-8.035368e+01,4.017892e+01,-8.024709e+01,4.640000e-01,7.600000e+01,7.500000e+01,8.400000e+01,3.003000e+01,1.000000e+01,1.040000e+01,0.000000e+00
max,4.000000e+00,4.900220e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,4.417500e+02,2.070000e+02,2.070000e+02,1.000000e+02,5.863000e+01,1.400000e+02,1.087000e+03,3.647000e+01

In [ ]:
data.isna().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [ ]:
data= data.dropna()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3554549 entries, 3402762 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 966.1+ MB

In [ ]:
data.isna().sum()

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.shape

(3554549, 46)

In [ ]:
data.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06
mean,2.075250e+00,3.612065e+01,-9.521825e+01,3.612085e+01,-9.521794e+01,8.477587e-01,6.107390e+01,5.974164e+01,6.377543e+01,2.935331e+01,9.051824e+00,7.442995e+00,5.601895e-03
std,3.837690e-01,5.352725e+00,1.801263e+01,5.352925e+00,1.801231e+01,1.823782e+00,1.939819e+01,2.168704e+01,2.292699e+01,1.137460e+00,2.579055e+00,5.588608e+00,5.116155e-02
min,1.000000e+00,2.456603e+01,-1.245481e+02,2.456601e+01,-1.245457e+02,0.000000e+00,-4.500000e+01,-6.300000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.318008e+01,-1.175560e+02,3.317923e+01,-1.175546e+02,6.700000e-02,4.800000e+01,4.600000e+01,4.700000e+01,2.919000e+01,1.000000e+01,3.000000e+00,0.000000e+00
50%,2.000000e+00,3.604521e+01,-8.731360e+01,3.604546e+01,-8.731348e+01,2.640000e-01,6.300000e+01,6.300000e+01,6.600000e+01,2.972000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.013914e+01,-8.021014e+01,4.013945e+01,-8.020993e+01,9.240000e-01,7.600000e+01,7.600000e+01,8.300000e+01,2.997000e+01,1.000000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900058e+01,-6.748413e+01,4.907500e+01,-6.748413e+01,1.551860e+02,1.960000e+02,1.960000e+02,1.000000e+02,5.863000e+01,1.000000e+02,1.087000e+03,2.400000e+01

In [ ]:
data= pd.read_csv('./US_Accidents_March23.csv')

In [ ]:
data.loc[data['Street'].isna(),['Street', 'Description']]

        Street                                        Description
512237     NaN  Right lane blocked due to multi-vehicle crash ...
512280     NaN           Crash on I-4 Westbound at Exit 55 US-27.
512453     NaN  Left hand shoulder blocked due to crash on I-7...
512787     NaN  Crash on I-87 Southbound at Exit 3 I-440 Cliff...
512931     NaN            Crash on US-1 at SC-34 Bishopville Hwy.
...        ...                                                ...
6928152    NaN  Incident on I-95 SB near NW 79TH ST Drive with...
7063579    NaN                           At Pedley Rd - Accident.
7588503    NaN           At I-695 - Accident. Right lane blocked.
7601453    NaN               At I-526/Mark Clark Expy - Accident.
7633451    NaN  Closed at CA-99/Stockton Blvd - Road closed du...

[10869 rows x 2 columns]

In [ ]:
data.loc[data['Street'].isna(),['Street', 'Description']].head(5)

       Street                                        Description
512237    NaN  Right lane blocked due to multi-vehicle crash ...
512280    NaN           Crash on I-4 Westbound at Exit 55 US-27.
512453    NaN  Left hand shoulder blocked due to crash on I-7...
512787    NaN  Crash on I-87 Southbound at Exit 3 I-440 Cliff...
512931    NaN            Crash on US-1 at SC-34 Bishopville Hwy.

In [ ]:
data.loc[data['Street'].isna(), 'Description']

512237     Right lane blocked due to multi-vehicle crash ...
512280              Crash on I-4 Westbound at Exit 55 US-27.
512453     Left hand shoulder blocked due to crash on I-7...
512787     Crash on I-87 Southbound at Exit 3 I-440 Cliff...
512931               Crash on US-1 at SC-34 Bishopville Hwy.
                                 ...
6928152    Incident on I-95 SB near NW 79TH ST Drive with...
7063579                             At Pedley Rd - Accident.
7588503             At I-695 - Accident. Right lane blocked.
7601453                 At I-526/Mark Clark Expy - Accident.
7633451    Closed at CA-99/Stockton Blvd - Road closed du...
Name: Description, Length: 10869, dtype: object

In [ ]:
missing_street_data = data.loc[data['Street'].isna(), 'Description']

for description in missing_street_data.head(10):
    print(description)

Right lane blocked due to multi-vehicle crash on I-95 Southbound before Exit 22 FL-848 Stirling Rd.
Crash on I-4 Westbound at Exit 55 US-27.
Left hand shoulder blocked due to crash on I-77 Southbound at Exit 151 Wallings Rd.
Crash on I-87 Southbound at Exit 3 I-440 Cliff Benson Beltline Exit 14.
Crash on US-1 at SC-34 Bishopville Hwy.
Crash on I-4 Westbound at Exit 55 US-27.
Crash on exit ramp from AZ-202-LOOP Southbound at Exit 57 to S 32nd St Southbound.
Entry ramp to Eisenhower Expy Westbound at Exits 30A 30B 31 31A 31B from I-294 Northbound lane blocked due to crash.
Right lane blocked due to crash on FL-821 Florida's Tpke Northbound at Exit 34 106th St.
Crash on Hazel Ave Northbound at Tributary Point Dr.

In [ ]:
data.isna().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [ ]:
data= data.dropna()

In [ ]:
data.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06,3.554549e+06
mean,2.075250e+00,3.612065e+01,-9.521825e+01,3.612085e+01,-9.521794e+01,8.477587e-01,6.107390e+01,5.974164e+01,6.377543e+01,2.935331e+01,9.051824e+00,7.442995e+00,5.601895e-03
std,3.837690e-01,5.352725e+00,1.801263e+01,5.352925e+00,1.801231e+01,1.823782e+00,1.939819e+01,2.168704e+01,2.292699e+01,1.137460e+00,2.579055e+00,5.588608e+00,5.116155e-02
min,1.000000e+00,2.456603e+01,-1.245481e+02,2.456601e+01,-1.245457e+02,0.000000e+00,-4.500000e+01,-6.300000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.318008e+01,-1.175560e+02,3.317923e+01,-1.175546e+02,6.700000e-02,4.800000e+01,4.600000e+01,4.700000e+01,2.919000e+01,1.000000e+01,3.000000e+00,0.000000e+00
50%,2.000000e+00,3.604521e+01,-8.731360e+01,3.604546e+01,-8.731348e+01,2.640000e-01,6.300000e+01,6.300000e+01,6.600000e+01,2.972000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.013914e+01,-8.021014e+01,4.013945e+01,-8.020993e+01,9.240000e-01,7.600000e+01,7.600000e+01,8.300000e+01,2.997000e+01,1.000000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900058e+01,-6.748413e+01,4.907500e+01,-6.748413e+01,1.551860e+02,1.960000e+02,1.960000e+02,1.000000e+02,5.863000e+01,1.000000e+02,1.087000e+03,2.400000e+01

In [ ]:
data[data['Distance(mi)'] == 0].head(5)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
3402822,A-3412705,Source1,3,2016-02-10 09:08:29,2016-02-10 15:08:29,38.271910,-85.808380,38.271910,-85.808380,0.0,...,False,False,False,False,False,False,Day,Day,Day,Day
3402872,A-3412755,Source1,2,2016-02-11 11:42:07,2016-02-11 17:42:07,41.039988,-81.565332,41.039994,-81.565332,0.0,...,False,False,False,False,False,False,Day,Day,Day,Day
3402876,A-3412759,Source1,2,2016-02-11 13:25:43,2016-02-11 19:25:43,41.256660,-81.631570,41.256660,-81.631570,0.0,...,False,False,False,False,False,False,Day,Day,Day,Day
3402877,A-3412760,Source1,2,2016-02-11 13:30:58,2016-02-11 19:30:58,40.589190,-80.098850,40.589190,-80.098850,0.0,...,False,False,False,False,False,False,Day,Day,Day,Day
3402883,A-3412766,Source1,2,2016-02-11 16:56:28,2016-02-11 22:56:28,40.589190,-80.098850,40.589190,-80.098850,0.0,...,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
data.loc[data['Distance(mi)'] == 0,['Street','Severity']].head(5)

                         Street  Severity
3402822  Henry Watterson Expy W         3
3402872                  I-76 W         2
3402876                 OH-21 N         2
3402877            Rochester Rd         2
3402883            Rochester Rd         2

In [ ]:
data.loc[data['Distance(mi)'] == 0,['Street','Severity','Description']].head(5)

,Street,Severity,Description
3402822,Henry Watterson Expy W,3,At Bank St/Exit 1 - Accident.
3402872,I-76 W,2,At Exit 18 - Accident.
3402876,OH-21 N,2,At OH-21/Brecksville Rd/Exit 145 - Accident.
3402877,Rochester Rd,2,At I-279/Exit 72 - Accident.
3402883,Rochester Rd,2,At I-279/Exit 72 - Accident.

In [ ]:
data= data.drop(['ID', 'Source'], axis=1)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3554549 entries, 3402762 to 7728393
Data columns (total 44 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Severity               int64
 1   Start_Time             object
 2   End_Time               object
 3   Start_Lat              float64
 4   Start_Lng              float64
 5   End_Lat                float64
 6   End_Lng                float64
 7   Distance(mi)           float64
 8   Description            object
 9   Street                 object
 10  City                   object
 11  County                 object
 12  State                  object
 13  Zipcode                object
 14  Country                object
 15  Timezone               object
 16  Airport_Code           object
 17  Weather_Timestamp      object
 18  Temperature(F)         float64
 19  Wind_Chill(F)          float64
 20  Humidity(%)            float64
 21  Pressure(in)           float64
 22  Visibility(mi)         float64
 23  Wind_Direction         object
 24  Wind_Speed(mph)        float64
 25  Precipitation(in)      float64
 26  Weather_Condition      object
 27  Amenity                bool
 28  Bump                   bool
 29  Crossing               bool
 30  Give_Way               bool
 31  Junction               bool
 32  No_Exit                bool
 33  Railway                bool
 34  Roundabout             bool
 35  Station                bool
 36  Stop                   bool
 37  Traffic_Calming        bool
 38  Traffic_Signal         bool
 39  Turning_Loop           bool
 40  Sunrise_Sunset         object
 41  Civil_Twilight         object
 42  Nautical_Twilight      object
 43  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(18)
memory usage: 911.9+ MB

In [ ]:
data= data.drop(['Start_Lat', 'Start_Lng','End_Lat', 'End_Lng'], axis=1)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3554549 entries, 3402762 to 7728393
Data columns (total 40 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Severity               int64
 1   Start_Time             object
 2   End_Time               object
 3   Distance(mi)           float64
 4   Description            object
 5   Street                 object
 6   City                   object
 7   County                 object
 8   State                  object
 9   Zipcode                object
 10  Country                object
 11  Timezone               object
 12  Airport_Code           object
 13  Weather_Timestamp      object
 14  Temperature(F)         float64
 15  Wind_Chill(F)          float64
 16  Humidity(%)            float64
 17  Pressure(in)           float64
 18  Visibility(mi)         float64
 19  Wind_Direction         object
 20  Wind_Speed(mph)        float64
 21  Precipitation(in)      float64
 22  Weather_Condition      object
 23  Amenity                bool
 24  Bump                   bool
 25  Crossing               bool
 26  Give_Way               bool
 27  Junction               bool
 28  No_Exit                bool
 29  Railway                bool
 30  Roundabout             bool
 31  Station                bool
 32  Stop                   bool
 33  Traffic_Calming        bool
 34  Traffic_Signal         bool
 35  Turning_Loop           bool
 36  Sunrise_Sunset         object
 37  Civil_Twilight         object
 38  Nautical_Twilight      object
 39  Astronomical_Twilight  object
dtypes: bool(13), float64(8), int64(1), object(18)
memory usage: 803.4+ MB

In [ ]:
data= data.drop(['Description'], axis=1)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3554549 entries, 3402762 to 7728393
Data columns (total 39 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Severity               int64
 1   Start_Time             object
 2   End_Time               object
 3   Distance(mi)           float64
 4   Street                 object
 5   City                   object
 6   County                 object
 7   State                  object
 8   Zipcode                object
 9   Country                object
 10  Timezone               object
 11  Airport_Code           object
 12  Weather_Timestamp      object
 13  Temperature(F)         float64
 14  Wind_Chill(F)          float64
 15  Humidity(%)            float64
 16  Pressure(in)           float64
 17  Visibility(mi)         float64
 18  Wind_Direction         object
 19  Wind_Speed(mph)        float64
 20  Precipitation(in)      float64
 21  Weather_Condition      object
 22  Amenity                bool
 23  Bump                   bool
 24  Crossing               bool
 25  Give_Way               bool
 26  Junction               bool
 27  No_Exit                bool
 28  Railway                bool
 29  Roundabout             bool
 30  Station                bool
 31  Stop                   bool
 32  Traffic_Calming        bool
 33  Traffic_Signal         bool
 34  Turning_Loop           bool
 35  Sunrise_Sunset         object
 36  Civil_Twilight         object
 37  Nautical_Twilight      object
 38  Astronomical_Twilight  object
dtypes: bool(13), float64(8), int64(1), object(17)
memory usage: 776.3+ MB

In [ ]:
data['Start_Time']= pd.to_datetime(data['Start_Time'])

ValueError: unconverted data remains when parsing with format "%Y-%m-%d %H:%M:%S": ".000000000", at position 9262. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
data.iloc[9262]

Severity                                             2
Start_Time               2017-07-24 07:15:46.000000000
End_Time                 2017-07-24 13:15:46.000000000
Distance(mi)                                      0.48
Street                                         CA-14 S
City                                           Newhall
County                                     Los Angeles
State                                               CA
Zipcode                                          91321
Country                                             US
Timezone                                    US/Pacific
Airport_Code                                      K3A6
Weather_Timestamp                  2017-07-24 06:51:00
Temperature(F)                                    67.0
Wind_Chill(F)                                     67.0
Humidity(%)                                       87.0
Pressure(in)                                     29.06
Visibility(mi)                                    10.0
Wind_Direction                                      SE
Wind_Speed(mph)                                    5.0
Precipitation(in)                                  0.0
Weather_Condition                        Partly Cloudy
Amenity                                          False
Bump                                             False
Crossing                                         False
Give_Way                                         False
Junction                                         False
No_Exit                                          False
Railway                                          False
Roundabout                                       False
Station                                          False
Stop                                             False
Traffic_Calming                                  False
Traffic_Signal                                   False
Turning_Loop                                     False
Sunrise_Sunset                                     Day
Civil_Twilight                                     Day
Nautical_Twilight                                  Day
Astronomical_Twilight                              Day
Name: 3639812, dtype: object

In [ ]:
data.iloc[9262]['Start_Time']

'2017-07-24 07:15:46.000000000'

In [ ]:
(data.iloc[9262]['Start_Time'])[:data.iloc[9262]['Start_Time'].find('.')]

'2017-07-24 07:15:46'